<div style="text-align:center">
  <div class="container">
    <div class="header-content jumbotron row">
      <div class="header-logo col-md-6">
        <i class="header-icon far fa-comments"></i>
        <h1>Chat Room!</h1>
      </div>
      <div class="login-section col-md-6">
        <app-login></app-login>
      </div>
    </div>
    <router-outlet *ngIf="this.usersService.signedUser"></router-outlet>
    <app-registration *ngIf="!this.usersService.signedUser"></app-registration>
    <app-popup-messages></app-popup-messages>
  </div>
</div>
